In [81]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm
import seaborn as sns
import pandas as pd
from IPython.display import display
import numpy as np

pd.options.display.max_columns = None
%matplotlib inline

# 한글 폰트
plt.rcParams['font.family'] = 'NanumGothic'
# 마이너스 깨짐 방지
matplotlib.rcParams['axes.unicode_minus'] = False

# 나눔 폰트 경로 설정
font_path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'  # 나눔 고딕의 경로
font_prop = fm.FontProperties(fname=font_path).get_name()

# 한글 폰트 설정
matplotlib.rcParams['font.family'] = font_prop

# 전역 팔레트 설정 (예: 'Set2' 팔레트 사용)
sns.set_palette('Set2')
sns_color = sns.color_palette('pastel')[0:5]

In [82]:
df = pd.read_csv('../datas/Regular_Season_Batter.csv', encoding='utf-8')
df.head()

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS,pos,hand,country
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,0,8,95,34,5,0,9,8,25,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902,내야수,우타,외국인
1,1,강경학,2011,한화,0.000,2,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000,내야수,좌타,한국인
2,1,강경학,2014,한화,0.221,41,86,11,19,2,3,1,30,7,0,0,13,2,28,1,0.349,0.337,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686,내야수,좌타,한국인
3,1,강경학,2015,한화,0.257,120,311,50,80,7,4,2,101,27,4,3,40,5,58,3,0.325,0.348,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673,내야수,좌타,한국인
4,1,강경학,2016,한화,0.158,46,101,16,16,3,2,1,26,7,0,0,8,2,30,5,0.257,0.232,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489,내야수,좌타,한국인

In [83]:
# 1년 전의 선수 기록과 현재 선수의 기록을 비교해본다
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2454 entries, 0 to 2453
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   batter_id        2454 non-null   int64
 1   batter_name      2454 non-null   object
 2   year             2454 non-null   int64
 3   team             2454 non-null   object
 4   avg              2454 non-null   float64
 5   G                2454 non-null   int64
 6   AB               2454 non-null   int64
 7   R                2454 non-null   int64
 8   H                2454 non-null   int64
 9   2B               2454 non-null   int64
 10  3B               2454 non-null   int64
 11  HR               2454 non-null   int64
 12  TB               2454 non-null   int64
 13  RBI              2454 non-null   int64
 14  SB               2454 non-null   int64
 15  CS               2454 non-null   int64
 16  BB               2454 non-null   int64
 17  HBP              2454 non-null   int64
 18  SO               2454 non-null   int64
 19  GDP              2454 non-null   int64
 20  SLG              2454 non-null   float64
 21  OBP              2454 non-null   float64
 22  E                2454 non-null   int64
 23  height/weight    2454 non-null   object
 24  year_born        2454 non-null   object
 25  position         2454 non-null   object
 26  career           2454 non-null   object
 27  starting_salary  1387 non-null   object
 28  OPS              2454 non-null   float64
 29  pos              2454 non-null   object
 30  hand             2454 non-null   object
 31  country          2454 non-null   object
dtypes: float64(4), int64(18), object(10)
memory usage: 613.6+ KB

In [84]:
# 필요 없는 데이터 제거하고 열만 추출
df_cols = list(df.select_dtypes(include=['int64', 'float64']).drop(['batter_id', 'year', 'OPS', 'OBP', 'SLG'], axis=1).columns)

df_cols

['avg',
 'G',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'TB',
 'RBI',
 'SB',
 'CS',
 'BB',
 'HBP',
 'SO',
 'GDP',
 'E']

In [89]:
# 추출한 열과 연도, 선수 이름만 추출
df_temp = df[df_cols+['year', 'batter_name']].copy()

# 타수가 30 이상인 선수만 추출
df_temp = df_temp.loc[df_temp['AB'] >= 30]

df_temp.head()

,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,E,year,batter_name
0,0.339,50,183,27,62,9,0,8,95,34,5,0,9,8,25,3,9,2018,가르시아
2,0.221,41,86,11,19,2,3,1,30,7,0,0,13,2,28,1,6,2014,강경학
3,0.257,120,311,50,80,7,4,2,101,27,4,3,40,5,58,3,15,2015,강경학
4,0.158,46,101,16,16,3,2,1,26,7,0,0,8,2,30,5,7,2016,강경학
5,0.214,59,84,17,18,2,1,0,22,4,1,1,8,1,19,1,4,2017,강경학

In [130]:
# 1년 전
past = 1

# 과거 타수 데이터 nan 삽입
df_temp[str(past)+'AB'] = np.nan
for col in df_cols:
    pass

# past 전의 데이터에 nan 삽입
df_temp[str(past)+'_'+col] = np.nan

# 0번 index부터 끝까지 순회
for i in range(0, max(df_temp.index)+1):
    pass
val = df_temp.loc[(df_temp['batter_name'] == df_temp['batter_name'][i]) & (df_temp['year'] == df_temp['year'][i] - past)]

# print(val.iloc[0])
# val.iloc[0]
# 해당 행에 데이터가 있다면 값 갑입
if len(val) != 0:
    # df.loc[i, str(past)+'_'+col] = val.iloc[0]
    display(df.loc[i, str(past)+'_'+col])
    # print(val)
    
# df.loc[str(past)+'_'+'AB'] < 30

df_temp.loc[(df_temp['batter_name'] == df_temp['batter_name'][i]) & (df_temp[df_temp['year'] == df_temp['year'][i] - past])]

TypeError: unsupported operand type(s) for &: 'bool' and 'float'

In [87]:
df

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS,pos,hand,country
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,0,8,95,34,5,0,9,8,25,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902,내야수,우타,외국인
1,1,강경학,2011,한화,0.000,2,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000,내야수,좌타,한국인
2,1,강경학,2014,한화,0.221,41,86,11,19,2,3,1,30,7,0,0,13,2,28,1,0.349,0.337,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686,내야수,좌타,한국인
3,1,강경학,2015,한화,0.257,120,311,50,80,7,4,2,101,27,4,3,40,5,58,3,0.325,0.348,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673,내야수,좌타,한국인
4,1,강경학,2016,한화,0.158,46,101,16,16,3,2,1,26,7,0,0,8,2,30,5,0.257,0.232,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489,내야수,좌타,한국인
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,내야수,양타,한국인
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,내야수,양타,한국인
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,0,0,0,0,0,1,0,0,5,0,0.000,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,내야수,양타,한국인
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,2,1,47,16,4,0,10,3,38,2,0.402,0.359,4,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761,내야수,양타,한국인
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,0,1,8,1,1,0,2,0,5,0,0.333,0.231,3,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564,내야수,양타,한국인